{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Formations{% endblock %}

{% block navbar %}
  <li class="nav-item">
     <a class="nav-link" href="{{path('Accueil')}}">Accueil</a>
  </li>
  <li class="nav-item">
     <a class="nav-link" href="{{path('Entreprises')}}">Entreprises</a>
  </li>
  <li class="nav-item active">
     <a class="nav-link" href="{{path('Formations')}}">Formations</a>
  </li>
{% endblock %}

{% block titreContenu %}
  Liste des Formations
{% endblock %}


{% block tableauValue %}
  <thead>
    <tr>
      <th>
        Id
      </th>
      <th>
        Libelle
      </th>
      <th>
        Nom complet
      </th>
      <th>
        Accès
      </th>
    </tr>
  </thead>
  <tbody>
  {% for formation in listeFormations %}
    <tr>
      <td>
        {{formation.id}}
      </td>
      <td>
        {{formation.libelle}}
      </td>
      <td>
        {{formation.nomComplet}}
      </td>
      <td>
        <a href="{{path('ListeStagesParFormation', {'idFormation': formation.id})}}">Liste des stages</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
{% endblock %}
