{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Entreprises{% endblock %}

{% block navbar %}
  <li class="nav-item">
     <a class="nav-link" href="{{path('Accueil')}}">Accueil</a>
  </li>
  <li class="nav-item active">
     <a class="nav-link" href="{{path('Entreprises')}}">Entreprises</a>
  </li>
  <li class="nav-item">
     <a class="nav-link" href="{{path('Formations')}}">Formations</a>
  </li>
{% endblock %}

{% block titreContenu %}
  Liste des Entreprises
{% endblock %}


{% block tableauValue %}
  <thead>
    <tr>
      <th>
        Id
      </th>
      <th>
        Nom
      </th>
      <th>
        Activite
      </th>
      <th>
        Adresse
      </th>
      <th>
        Site
      </th>
      <th>
        Accès
      </th>
    </tr>
  </thead>
  <tbody>
  {% for entreprise in listeEntreprises %}
    <tr>
      <td>
        {{entreprise.id}}
      </td>
      <td>
        {{entreprise.nom}}
      </td>
      <td>
        {{entreprise.activite}}
      </td>
      <td>
        {{entreprise.adresse}}
      </td>
      <td>
        <a href="{{entreprise.site}}">{{entreprise.site}}
      </td>
      <td>
        <a href="{{path('ListeStagesParEntreprise', {'idEntreprise': entreprise.id})}}">Liste des stages</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
{% endblock %}
