{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Stages{% endblock %}


{% block navbar %}
  <li class="nav-item">
     <a class="nav-link" href="{{path('Accueil')}}">Accueil</a>
  </li>
  <li class="nav-item">
     <a class="nav-link" href="{{path('Entreprises')}}">Entreprises</a>
  </li>
  <li class="nav-item">
     <a class="nav-link" href="{{path('Formations')}}">Formations</a>
  </li>
  <li class="nav-item active">
     <a class="nav-link" href="{{path('Stages' , {'id': stage.id})}}">Stage</a>
  </li>
{% endblock %}


{% block contenu %}
<ul class="list-group list-group-flush" style="margin-top:75px;">
  <li class="list-group-item">
    <h1>Stage n°{{stage.id}}</h1>
  </li>
  <li class="list-group-item">
    Titre : {{stage.titre}}
  </li>
  <li class="list-group-item">
    Entreprise :
    <ul>
        <li> Nom : {{stage.entreprises.nom}}</li>
        <li> Activite : {{stage.entreprises.activite}}</li>
        <li> Adresse : {{stage.entreprises.adresse}}</li>
        <li> Site : {{stage.entreprises.site}}</li>
    </ul>
  </li>
  <li class="list-group-item">
    Description : {{stage.description}}
  </li>
  <li class="list-group-item">
    Formations :
    <ul>
        {% for formation in stage.formations %}
          <li>{{formation.nomComplet}} ({{formation.libelle}})</li>
        {% endfor %}
    </ul>
  </li>
  <li class="list-group-item">
    Mail de contact : {{stage.mailContact}}
  </li>
</ul>
{% endblock %}
